* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

nav,
footer {
  padding: 5px;
  background-color: #B3FFEE;
  display: flex;
}

nav {
  position: fixed;
  width: 100%;
  
}

img {
  width: 100%;
}

header {
  padding: 50px;
  text-align: center;
}

p.header-text {
  margin-top: 30px;
}

h1, h2, h3 {
  text-align: center;
}

section {
  min-height: 250px;
  padding: 10%;
}

h2 {
  visibility: hidden;
  height: 0px;
}

p.bio-text2 {
  margin-top: 30px;
}

.icon {
  max-width: 50px;
}

.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.about-me {
  padding: 30px;
  background-color: #B3FFEE;
}

.projects {
  padding: 30px;
  background-color: #FFFFFF;
}

.contact {
  padding: 30px;
  background-color:#FFFFFF;
}




